

.shadow-dark { box-shadow:0px 20px 20px rgba(0, 0, 0, 0.3); }
.radius-border {border-radius: 5rem !important;}
.radius-border-6 {border-radius: 0.6rem !important;}
.radius-border-2 {border-radius: 0.2rem !important;}


.btn-default {
    background: var(--finwallapp-theme-color);
    color: var(--finwallapp-theme-text);
    border: 0!important;
    max-width: 300px!important;
    margin: auto!important;
    width: 100%!important;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    border-radius: 22px;
}

.crad_tung {
    background: rgba(243, 243, 243, 0.05);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(9px);
    border: 3px solid rgba(0, 0, 0, 0.025);
    box-shadow: 0px 2px 2px rgba(248, 244, 244, 0.3);
}

.crad_tung .card-header{
    background: rgba(255, 255, 255, 0.007);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    border: 3px solid rgba(0, 0, 0, 0.025);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.center-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .center-menu-status {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

.center-menu-shop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px!important;
    object-fit: cover;
    object-position: center;
} 

  .pointer {cursor: pointer;}

  /* .owl-carousel .owl-stage {
    display: flex;
  }

 .owl-carousel .owl-item img {
    width: auto;
    height: 100%;
  } */

  .pmsg{
    font-size:0.8rem;
    /* width:400px; */
    
    /**Major Properties**/
    overflow:hidden;
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
  }

  .pmsgcard{
    font-size:0.8rem;
    /* width:400px; */
    
    /**Major Properties**/
    overflow:hidden;
    line-height: 1.3rem;
    max-height: 5rem;
    /* -webkit-box-orient: vertical; */
    /* display: block; */
    /* display: -webkit-box; */
    overflow: hidden !important;
    /* text-overflow: ellipsis; */
    -webkit-line-clamp: 2;
  }

  .responsive_logo {
    width: 50%;
    height: auto;
  }

  .img-show{
    /* width: 200px; */
    height: 10rem; 
    width: 100%; 
    display: block; 
    object-fit: cover; 
    border-radius: 15px
    
 }
 .card-show {
    flex-direction:column;
 }
 .show-buy{
    font-size: 60%;
    margin-left: 20px;
 }
 @media (max-width: 767px) {
    .img-show {
          height: 6rem;
    }
    .show-buy{
        font-size: 50%;
        margin-left: 50px;
     }
    
 }
